{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {#
<!--            <div class="col-md-4">-->
<!--                <img src="static/img/LtaYP.svg" alt="book-img" class="book-icon">-->
<!--                <span class="label label-primary">-->
<!--&lt;!&ndash;TODO: add way for user to create book from here by inputting pub id&ndash;&gt;-->
<!--                    <a href="{{ url_for('main.add_book', pub_id=pub_id) }}">-->
<!--                        New Book-->
<!--                    </a>-->
<!--                </span>-->
<!--            </div>-->
            #}
            {% for book in books %}
            <div class="col-md-4">
                <img src="static/img/{{book.image}}" alt="book-img" class="book-icon">
                <h4> {{ book.title }} </h4>
                <p> {{ book.author }} </p>
                <p> {{ book.price }} AED </p>
                <p> <a href="{{ url_for('main.display_publisher', publisher_id = book.pub_id) }}"> {{ book.pub_id }} </a></p>
                <span class="label label-primary">
                    <a href="{{ url_for('main.edit_book', book_id=book.id) }}">
                        Edit
                    </a>
                </span>
                <span class="label label-info">
                    <a href="{{ url_for('main.delete_book', book_id=book.id) }}">
                        Delete
                    </a>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}